{% extends './common.html' %}
{% load static %}

{% block title %}pie classes pulwama official site | pie classes{% endblock title %}


{% block css %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fasthand&family=Island+Moments&family=Kolker+Brush&family=Pacifico&display=swap" rel="stylesheet">
<style>
.navHomeLink {
    display: none;
}
.navContactLink {
    display: inherit;
}
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}
</style>



<style>

.first-page {
    width: 100%;
    margin-bottom: 20px;
}
.bg-pic-fp {
    height: 97vh;
    width: 100%;
    /* object-fit: cover; */
    background-image: url({% static 'books.jpg' %});
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(174, 163, 163);;
}

.title-fp {
    position: absolute;
    top: 30px;
    font-family: 'Fasthand', cursive;
    left: 30px;
}
.title-fp .title1 {
    font-size: 3rem;
    font-weight: bolder;
}
.about-title {
    font-size: 1.3rem;
    color: rgb(129, 3, 3);
}
.title-fp .title2 {
    font-size: 2rem;
    padding-left: 10px;
}
.sub-fp {
    position: absolute;
    bottom: 50px;
    font-size: 3rem;
    text-align: center;
    
    width: calc(100% - 16px);
    background-color: rgba(0, 0, 0, 0.411);
    font-family: 'Kolker Brush', cursive;
}
.subtitle-span {
    color: red;
}

</style>


<!-- faculty -->
<style>
    .div-for-faculty, .div-for-courses {
        padding: 10px;
        padding-bottom: 0;
        border: 1px solid black;
        border-radius: 10px;
        margin: 20px 0;
        max-width: 400px;
    }

    .faculty-description {
        display: flex;
        align-items: center;
    }
    .faculty-h-description {
        padding-bottom: 10px;
    }
    .faculty-h-description, .courses-h-description {
        color: rgb(68, 0, 0);
    }
    .even {
        justify-content: end;
    }

    .faculty-image {
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 70px;
        border-radius: 50%;
    }
    .faculty-name {
        font-weight: bold;
        padding-left: 10px;
    }
    .faculty-field {
        padding-left: 15px;
    }
    .even .faculty-name, .faculty-field {
        text-align: right;
        padding-right: 5px;
    }
    .even .faculty-field {
        padding-right: 10px;
    }

    .more-faculty {
        width: calc(100% + 20px);
        transform: translateX(-10px);
        border: 0;
        padding: 5px 0;
        border-radius: 0 0 10px 10px;
        margin-top: 10px;
        background-color: rgb(0, 195, 195);
    }
</style>


<!-- courses -->
<style>
    .single-package-heading {
        padding-top: 10px;
        transform: translateX(-20px);
        font-weight: bold;
    }
    .package-list {
        transform: translateY(-10px);
    }

    .some-text {
        background-color: rgba(0, 255, 132, 0.423);
        padding: 10px;
        margin-top: 15px;
    }
    .inner-text-taereef {
        font-size: 1.1rem;
        color: red;
        font-family: 'Pacifico', cursive;
    }
    .inner-inner-text-taereef {
        text-align: right;
    }
</style>


<style>
    footer {
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.479);
        padding: 10px;
        padding-top: 0;
    }
    footer .faculty-link {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }
    footer a {
        color: blue;
    }
    
    footer .ftr-title {
        font-size: 1.3rem;
        text-align: center;
        font-weight: bold;
        transform: translateY(10px);
    }
    footer * {
        padding: 2px;
    }
</style>
    
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock css %}

{% block body %}

<div class="first-page">

    <!-- <img class="bg-pic-fp" src="{% static 'books.jpg' %}"/> -->
    <div class="bg-pic-fp"></div>
    <div class="title-fp">
        <span class="title1">PIE</span>
        <span class="title2">classes</span>
        <div class="about-title">
            Premier institute of coaching
        </div>
    </div>
    
    <div class="sub-fp">
        We are here to revolutionise the world of teaching because<br>
        <span class="subtitle-span">We care for your future</span>
    </div>
</div>


<!-- NAV BAR IS HERE -->
{% include './navbar.html' %}


<div class="some-text">
    <div class="inner-text-taereef">
        Here at PIE classes we offer some of the best opportunities to the students 
        aiming to crack NEET, IIT or JEE entrance exams.
    </div>
</div>


<div class="div-for-courses" id="packages">
    <div class="courses-h-description">
        Some of the packages we offer are...
    </div>
    <ul class="package-list">
        <div class="single-package-heading">Class 11<sup>th</sup></div>
            <li>Full 2&frac12; year course including NEET or JEE.</li>        
            <li>Only 1 year course.</li>
        
        <div class="single-package-heading">Class 12<sup>th</sup></div>
            <li>Full 1&frac12; year course including NEET or JEE.</li>        
            <li>Only 1 year course.</li>

        <div class="single-package-heading">NEET or JEE</div>
            <li>Half year course.</li>        
            <li>Full year course (dropees or repeaters).</li>
    </ul>
</div>


<div class="some-text">
    <div class="inner-text-taereef">
        If you are a student looking
        for the coaching institute that can understand the value of you and 
        your time, PIE classes Pulwama may be the best place for you to be.
        <div class="inner-inner-text-taereef">
            - former student
        </div>
    </div>
</div>



<div class="div-for-faculty">
    <div class="faculty-h-description">PIE classes offers one of the best combination 
        of faculty members, at one place.
    </div>


    <div class="faculty-description">
        <img class="faculty-image" src="{% static 'default.jpg' %}"/>
        <div>
            <div class="faculty-name">Mr. Sajad Sir</div>
            <div class="faculty-field">Leading Botany Expert</div>
        </div>
    </div>

    <div class="faculty-description even">
        <div>
            <div class="faculty-name">Mr. Manzoor Sir</div>
            <div class="faculty-field">Leading Chemistry Expert</div>
        </div>
        <img class="faculty-image" src="{% static 'default.jpg' %}"/>
    </div>

    <div class="other-faculty" id="other-faculty">
        <div class="faculty-description">
            <img class="faculty-image" src="{% static 'default.jpg' %}"/>
            <div>
                <div class="faculty-name">Mr. Gr. Sir</div>
                <div class="faculty-field">Leading Maths Expert</div>
            </div>
        </div>

        <div class="faculty-description even">
            <div>
                <div class="faculty-name">Mr. Waseel Ashraf</div>
                <div class="faculty-field">Leading Zology Expert</div>
            </div>
            <img class="faculty-image" src="{% static 'default.jpg' %}"/>
        </div>

        <div class="faculty-description">
            <img class="faculty-image" src="{% static 'default.jpg' %}"/>
            <div>
                <div class="faculty-name">Dr. RAfi Andrabi</div>
                <div class="faculty-field">Leading Physics Expert</div>
            </div>
        </div>

        <div class="faculty-description even">
            <div>
                <div class="faculty-name">Er. Yasir Khandey</div>
                <div class="faculty-field">Leading Physics Expert</div>
            </div>
            <img class="faculty-image" src="{% static 'default.jpg' %}"/>
        </div>

        <div class="faculty-description">
            <img class="faculty-image" src="{% static 'default.jpg' %}"/>
            <div>
                <div class="faculty-name">Er. Sheikh Faisal</div>
                <div class="faculty-field">Leading Physics Expert</div>
            </div>
        </div>

        <div class="faculty-description even">
            <div>
                <div class="faculty-name">Mr. Raies Sir</div>
                <div class="faculty-field">Leading Chemistry Expert</div>
            </div>
            <img class="faculty-image" src="{% static 'default.jpg' %}"/>
        </div>

        <div class="faculty-description">
            <img class="faculty-image" src="{% static 'default.jpg' %}"/>
            <div>
                <div class="faculty-name">Mr. Mudasir Sir</div>
                <div class="faculty-field">Leading Chemistry Expert</div>
            </div>
        </div>
    </div>

    <div class="more-faculty-div">
        <button id="more-faculty" class="more-faculty">All faculty members</button>
    </div>
</div>


<footer class="footer">
    <div class="ftr-title">
        PIE classes pulwama
    </div><br>
    <div>
        <a class="contact-link" href="{% url 'contact' %}">Contact us</a>
    </div>
    <div>
        <a class="courses-link" href="#packages">Packages we offer</a>
    </div>
    <div>
        <a class="faculty-link" id="faculty-link" >Faculty</a>
    </div>
    <div>
        Developer: <a href="https://myrecentwork.netlify.app">Mir ehsan</a>
    </div>
</footer>


<script>

    $("#other-faculty").hide();
    $("#more-faculty").on("click", function() {
        $("#other-faculty").toggle();
    });

    $("#faculty-link").on("click", function() {
        $("#other-faculty").toggle();
    });
</script>


{% endblock body %}